*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    display: flex;
    background-color: rgb(5, 173, 115);
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    background-color: #fff;

    box-shadow: 0 5px 10px rgbd(0,0,0,0.3);
}
.page .login{
    padding: 2rem;

}
.login h1{
    font-size: 2rem;
font-weight: 500;

}
.login h2{
    color: grey;
    font-size: 1rem;
font-weight: 500;
margin-bottom: 3rem;


}
.login h3{
    color: grey;
    font-size: 0.7rem;
font-weight: 500;
margin-bottom: 0.3rem;


}
.login h4{
    color: grey;
    font-size: 0.7rem;
font-weight: 500;
margin-top: 1.5rem;
margin-bottom: 0.3rem;

}
.login input{
width: 100%;
padding: 5px 20px;
    font-size: 16px;

    border: 1px solid #ddd;
    outline: none; 
align-items: center;

    cursor: pointer;

}
.login input:focus{
    box-shadow: 0 1px 0 ebga(0,0,0,0.2);

}
.box{
    display: flex;
    align-items: center; /* Căn giữa theo trục dọc */
    gap: 0px; /* Khoảng cách giữa biểu tượng và nút */

}
.box img{
    color: white;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(5, 173, 115);
    font-size: 24px; 
}

.login input.button{
    color: #fff;
    background: #009579;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
margin-bottom: 1.5rem;
}
.login input.button:hover{
    background: #006653;
}
.register {
    font-size: 1rem;
    color: gray;
    cursor: pointer;
    text-align: center;
}
